<%
@render_count = 0
%>

<%= form_for @word_group, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <h2>Group words</h2>
  <% @word_group.words.each_with_index do |word, word_index| %>
  <div class="row">
    <div class="span4">
      <div class="control-group">
        <%= f.label :writing, "Writing", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :writing, 
              { :class => 'text_field', :value => word.writing, :readonly => true } %>
        </div>
      </div>
    </div>

    <div class="span4">
      <% word.readings.each_with_index do |r, index| %>
      <div class="control-group">
        <% gm = GroupMember.
           where({ :word_association_id => r.word_association(word),
        :word_group_id => @word_group }).first %>
        <% if !gm.blank? %>
        <%= hidden_field_tag "word_group[group_members_attributes][#{word_index*100+index}][id]", gm.id.to_s %>
        <% end %>
        <%= hidden_field_tag "word_group[group_members_attributes][#{word_index*100+index}][_destroy]", 0 %>
        <%= check_box_tag "word_group[group_members_attributes][#{word_index*100+index}][word_association_id]",
            r.word_association(word).id,
            @word_group.word_associations.include?(r.word_association(word)) ? true : false,
            { class: "gmcheckbox" }
            %>
        <%= f.label :kana_str, "Kana str", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :kana_str, 
              { :class => 'text_field', :value => r.kana_str, :readonly => true } %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <%= f.fields_for :words do |wbuilder| %>
    <%= render 'word_fields', f: wbuilder, count: (@render_count+@word_group.words.length) %>
    <% @render_count += 1 %>
  <% end %>
  <%= link_to_add_fields "Add word", f, :words %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                word_groups_path, :class => 'btn' %>
  </div>
  
<% end %>
