<div class="control-group">
  <%= f.label :word_association_id, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :word_association_id,
        { :class => 'text_field' } %>
  </div>
</div>

