<%
@render_count = 0
%>
<%= form_for @word_group, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <h2>Group words</h2>
  <%= f.fields_for :words do |wbuilder| %>
    <%= render 'word_fields', f: wbuilder, count: @render_count %>
    <% @render_count += 1 %>
  <% end %>
  <%= link_to_add_fields "Add word", f, :words %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                word_groups_path, :class => 'btn' %>
  </div>
  
<% end %>
