<div class="row">
  <div class="span6">
    <div class="control-group">
      <%= f.label :writing, "Writing", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :writing, @words.collect { |w| [w.writing, w.id] },
            { include_blank: true },
            { onchange: "getReadings(#{count});", id: "word_group_words_writing_#{count}" }
            %>
      </div>
    </div>
  </div>
  <div id="readings_area_<%= count %>" class="span6">
    
  </div>
</div>


