<table class="table table-striped">
  <thead>
    <tr>
      <th>Word ID</th>
      <th>Writing</th>
      <th>Reading</th>
    </tr>
  </thead>
  <tbody>
    <% wg.words.each do |w| %>
      <tr>
        <td><%= w.id %></td>
        <td><%= w.writing %></td>
        <td>
          <% w.readings.each do |r| %>
            <% if wg.readings.include? r %>
            <%= "#{r.kana_str} : #{Word.translate_to_code r.kana_str}" %><br />
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
