<%- model_class = WordGroup.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_word_group_path,
            :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Word count</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @word_groups.each do |word_group| %>
      <tr>
        <td><%= link_to word_group.id, word_group_path(word_group) %></td>
        <td><%= word_group.name %></td>
        <td><%= word_group.words.length %></td>
        <td><%=l word_group.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_word_group_path(word_group), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      word_group_path(word_group),
                      :method => :delete,
                      
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
