<%- model_class = @word_group.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @word_group.name %></dd>
  
  <dt><strong>Word count:</strong></dt>
  <dd><%= @word_group.words.length %></dd>
  <dt><strong>GroupMember count:</strong></dt>
  <dd><%= @word_group.group_members.length %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dictionary ID</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <% @word_group.dictionaries.each do |dic| %>
    <tr>
      <td><%= dic.id %></td>
      <td><%= link_to dic.name, dic %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= render 'word_group_table', wg: @word_group %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              word_groups_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_word_group_path(@word_group), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              word_group_path(@word_group),
              :method => 'delete',
              
              :class => 'btn btn-danger' %>
</div>
