<%= form_for [@dictionary, @expression], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Expression</legend>
    
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <%= f.fields_for :terms do |builder| %>
      <%= render 'term_fields', f: builder %>
    <% end %>

    <%= link_to_add_fields "Add WordGroup", f, :terms %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', words_path, :class => 'btn' %>
    </div>
  </fieldse>
<% end %>
