<%= form_for @dictionary, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Dictionary</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :grammar_style, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :grammar_style, @grammar_styles %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :rate, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :rate, @rates %>
      </div>
    </div>
    
    <%= f.fields_for :dictionary_members do |builder| %>
      <%= render 'dictionary_member_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add WordGroup", f, :dictionary_members %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', dictionaries_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
