<h1>Dictionarys</h1>

<%= link_to 'New', new_dictionary_path, :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Grammar style</th>
      <th>Rate</th>
      <th>Port</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dictionaries.each do |dictionary| %>
      <tr>
        <td><%= dictionary.id %></td>
        <td><%= link_to dictionary.name, dictionary_path(dictionary) %></td>
        <td><%= dictionary.grammar_style %></td>
        <td><%= dictionary.rate %></td>
        <td>
          <% dictionary.recog_processes.each do |rp| %>
            <% if rp.status == RecogProcess::RUNNING %>
              <span class="badge badge-info"><%= rp.port %></span>
            <% else %>
              <%= rp.port %>
            <% end %>
          <% end %>
        </td>
        <td><%= dictionary.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_dictionary_path(dictionary), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', dictionary_path(dictionary), :method => :delete, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


