<script type="text/javascript">
  function loadSWF() {
  // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. 
  var swfVersionStr = "11.1.0";
  // To use express install, set to playerProductInstall.swf, otherwise the empty string. 
  var xiSwfUrlStr = "/assets/IkefujiPanda_release/playerProductInstall.swf";
  var flashvars = {};
  flashvars.server = "<%= @server %>";
  flashvars.dictionaryID = "<%= @dictionary.id %>";
  flashvars.dictionaryName = "<%= @dictionary.name %>";
  var params = {};
  params.quality = "high";
  params.bgcolor = "#ffffff";
  params.allowscriptaccess = "sameDomain";
  params.allowfullscreen = "true";
  var attributes = {};
  attributes.id = "IkefujiPanda";
  attributes.name = "IkefujiPanda";
  attributes.align = "middle";
  swfobject.embedSWF(
  "/assets/IkefujiPanda_release/IkefujiPanda.swf", "flashContent", 
  "100%", "100%", 
  swfVersionStr, xiSwfUrlStr, 
  flashvars, params, attributes);
  // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
  swfobject.createCSS("#flashContent", "display:block;text-align:left;");
  }

  jQuery(function() {
    loadSWF();
  });
</script>

<h1><%= @dictionary.name %></h1>
<br />
<%= link_to "Edit", edit_dictionary_path(@dictionary), { class: 'btn btn-mini' } %>

<p>
  <b>Name: </b>
  <%= @dictionary.name %><br />
  
  <b>User: </b>
  <%= @dictionary.user.email if !@dictionary.user.blank? %><br />
  
  <b>Style: </b>
  <%= @dictionary.grammar_style %><br />

  <b>Rate: </b>
  <%= @dictionary.rate %><br />
  
  <br />
</p>

<br />
<br />

<h2>Recognition processes</h2>
<%= link_to 'New RecogProcess', new_dictionary_recog_process_path(@dictionary),
    :class => 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>fqdn</th>
      <th>server_ip</th>
      <th>Engine type</th>
      <th>port</th>
      <th>grammar_style</th>
      <th>rate</th>
      <th>status</th>
      <th>REST</th>
    </tr>
  </thead>
  <tbody>
    <% @dictionary.recog_processes.each do |rp| %>
      <tr>
        <td><%= rp.id %></td>
        <td><%= rp.fqdn %></td>
        <td><%= rp.server_ip %></td>
        <td><%= rp.engine_type %></td>
        <td><%= rp.port %></td>
        <td><%= rp.grammar_style %></td>
        <td><%= rp.rate %></td>
        <td><%= rp.status %></td>
        <td>
          <%= link_to "Edit", edit_dictionary_recog_process_path(rp.dictionary, rp), { class: 'btn btn-mini' } %>
          <%= link_to 'Destroy', dictionary_recog_process_path(rp.dictionary, rp), :method => :delete, :class => 'btn btn-mini btn-danger' %>

        </td>
      </tr>
      <tr>
        <td colspan="9">
          <%= link_to "status", 
              status_dictionary_recog_process_path(rp.dictionary_id, rp) %> | 
          <%= link_to "register",
              register_dictionary_recog_process_path(rp.dictionary_id, rp) %> | 
          <%= link_to "start",
              start_dictionary_recog_process_path(rp.dictionary_id, rp) %> | 
          <%= link_to "stop",
              stop_dictionary_recog_process_path(rp.dictionary_id, rp) %> | 
          <%= link_to "unregister(delete)",
              unregister_dictionary_recog_process_path(rp.dictionary_id, rp) %>
          <br />
          <%= link_to "recog page",
              "http://#{rp.fqdn}/mskserver/gateway.php?username=#{@dictionary.name}_#{rp.id}&password=testpass&mode=html",
              { target: "_blank" } %>
          <% if flash[rp.id] %>
          <br />
          <%= "status msg: #{flash[rp.id]}" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br />
<br />


<h2>Word groups</h2>
<p>
  <%= link_to 'Add word group', "#",
      :class => 'btn btn-primary' %>
</p>

<% @dictionary.word_groups.each do |wg| %>
  <h3><%= wg.name %></h3>
  
  <p>
    <%= link_to "Detail", word_group_path(wg), { class: 'btn btn-mini' } %>
    <%= link_to "Edit", edit_word_group_path(wg), { class: 'btn btn-mini' } %>
  </p>
  
  <%= render 'word_groups/word_group_table', wg: wg %>
<% end %>
<br />
<br />


<h2>Expressions</h2>

<p>
  <%= link_to "New", new_dictionary_expression_path(@dictionary), { class: 'btn btn-mini' } %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Expression</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @dictionary.expressions.each do |exp| %>
    <tr>
      <td><%= exp.id %></td>
      <td><%= exp.name %></td>
      <td>
        <!--
        <% exp.word_groups.each do |exp_wg| %>
          <%= exp_wg.name %> 
        <% end %>
        -->
        <%= exp.group_str %><br />
        <%= exp.group_str("NOISE") %>
      </td>
      <td>
        <%= link_to "Edit", edit_dictionary_expression_path(@dictionary, exp), { class: 'btn btn-mini' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<br />
<br />



<h2>IkefujiPanda</h2>
<div id="flashArea">
  <div id="flashContent">
    <p>
      To view this page ensure that Adobe Flash Player version 
      10.2.0 or greater is installed. 
    </p>
    <script type="text/javascript"> 
      var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://"); 
      document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" ); 
    </script> 
  </div>
</div>
<br />
<br />

<h2>Evaluation</h2>
<%= form_tag auto_evaluate_dictionary_path(@dictionary), 
    { :class => 'form-horizontal', :method => :get } do |f| %>

  <%= select_tag :recog_process_id,
      options_from_collection_for_select(@dictionary.recog_processes, "id", "fqdn")
      %>
  <%= submit_tag 'Auto Evaluate', :class => 'btn btn-primary' %>
<% end %>

<%= form_tag evaluate_dictionary_path(@dictionary), 
    { :class => 'form-horizontal', :method => :get } do |f| %>
  
  <%= select_tag :recog_process_id,
      options_from_collection_for_select(@dictionary.recog_processes, "id", "fqdn")
      %>
  <%= submit_tag 'Evaluate', :class => 'btn btn-primary' %>
<% end %>

<%= form_tag julius_evaluate_dictionary_path(@dictionary), 
    { :class => 'form-horizontal', :method => :get } do |f| %>
  
  <%= select_tag :recog_process_id,
      options_from_collection_for_select(@dictionary.recog_processes, "id", "fqdn")
      %>
  <%= submit_tag 'Julius evaluate', :class => 'btn btn-primary' %>
<% end %>



<div class="form-actions">
  <%= link_to 'Back', dictionaries_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_dictionary_path(@dictionary), :class => 'btn' %>
  <%= link_to 'Delete', dictionary_path(@dictionary), :method => 'delete', :class => 'btn btn-danger' %>
</div>
