<%= form_for [@dictionary, @recog_process], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /RecogProcess</legend>
  </fieldset>

  <div class="control-group">
    <%= f.label :fqdn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fqdn, :class => 'text_field' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :port, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :port, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :engine_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :engine_type, @engine_types %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :grammar_style, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :grammar_style, @grammar_styles %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :rate, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :rate, @rates %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', dictionary_path(@dictionary), :class => 'btn' %>
  </div>
<% end %>
