<%= form_for @word, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Word</legend>

    <div class="control-group">
      <%= f.label :writing, :class => 'control-label' %>
      <div class="controls">
        <!-- <%= f.check_box :writing %> -->
        <%= f.text_field :writing, :class => 'text_field' %>
      </div>
    </div>

    <%= f.fields_for :readings do |rbuilder| %>
      <%= render 'reading_fields', f: rbuilder %>
    <% end %>

    <%= link_to_add_fields "Add Reading", f, :readings %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', words_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
