<h1>Words</h1>

<%=
link_to 'New', new_word_path, :class => 'btn btn-primary' 
%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Writing</th>
      <th>Readings</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.id %></td>
        <td><%= word.writing %></td>
        <td>
          <% word.readings.each do |r| %>
            <%= "#{r.kana_str} (ID:#{r.id})" %><br />
          <% end %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_word_path(word), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          word_path(word),
          :method => :delete,
          :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


