<h1>/Word</h1>

<p>
  <b>Dictionary</b><br>
  <%= @word.dictionary_id %>
</p>

<p>
  <b>Writing</b><br>
  <%= @word.writing %>
</p>

<p>
  <b>Reading</b><br>
  <%= @word.reading %>
</p>

<div class="form-actions">
  <%= link_to 'Back', dictionary_words_path(@dictionary), :class => 'btn'  %>
  <%= link_to 'Edit', edit_dictionary_word_path(@word), :class => 'btn' %>
  <%= link_to 'Delete', dictionary_word_path(@word), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
